$color-brown-darker: oklch(24.04% 0.041 48.59); // #2f190d
$color-brown-dark: oklch(29.56% 0.049 56.7); // #3f2613
$color-brown: oklch(33.46% 0.053 62.08); // #4a3018
$color-brown-light: oklch(32.43% 0.056 62.51); // #482d13
$color-brown-lighter: oklch(34.07% 0.057 62.75); // #4d3116

$color-white: oklch(100% 0 0); // #fff

$color-gold-dark: oklch(58.81% 0.105 68.82); // #a5702e
$color-gold: oklch(86.73% 0.15885633249249276 87.7870321651002); // #ffcc3f

$color-marble: oklch(90.39% 0.026 99.55); // #e3e0cd
$color-marble-dark: oklch(45% 0.026 99.55); // #595645

$color-stone: oklch(59.02% 0.078 66.64); // #9d7449
$color-stone-dark: oklch(43.18% 0.074 52.91); // #704427
$color-light: oklch(97.53% 0.147 108.85); // #ffff82