@import '@/styles/variables';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 2em;
  }
}

.tabs {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: calc(30% - .5em);
    padding: 1em;
    box-sizing: border-box;
  }
}

.tab {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  color: $color-white;
  cursor: pointer;
  text-align: left;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 15px;
}

.tabSelected {
  background-color: oklch(28.53% 0.044 281.65);
}

.tabPanel {
  padding: 2em;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 4px $color-white;
  text-align: center;
  color: $color-white;

  @media (min-width: 768px) {
    width: calc(70% - .5em);
  }
}

.tabPanelHeading {
  max-width: 200px;
  margin: 0 auto;

  span {
    display: flex;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.tabPanelCopy {
  margin: 1em 0;
}

.tabPanelLink {
  color: $color-white;

  svg {
    width: 1em;
    margin-left: .5em;
  }
}