@use '@/styles/variables' as *;

.footer {
	box-shadow: 0 0 4px #{$color-white};
	padding: 1em;
	margin-top: 4em;
	width: 100%;
	box-sizing: border-box;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1em;
}

.socialLink {
	display: flex;

	svg {
		width: 1.5em;
	}
}
