@use '@/styles/variables' as *;

.section {
	text-align: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}

.cards {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;

	@media (width >= 768px) {
		flex-flow: row wrap;
	}
}
