@import '@/styles/variables';

.section {
  text-align: center;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
}

.simple {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 0;
  justify-content: flex-start;
  text-align: left;
}

.link {
  display: block;
  margin: 1em 0;
}

.image {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  margin: 1em 0;
}

.intro {
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  margin-top: 1em;
}

.copy {
  max-width: 800px;
}