@import '@/styles/variables';

.container {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.ruins {
  position: absolute;
  width: 40vw;
  height: 80%;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to left, transparent 50%, $color-brown-darker 50%);
  background-size: 200px 100%;

  &::before {
    position: absolute;
    content: '';
    background-color: $color-brown-darker;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
  }

  &:nth-child(2) {
    width: 40vw;
    height: 40%;
    background-image: linear-gradient(to right, transparent 50%, $color-brown-dark 50%);
    background-position: 100% 0%;
    background-size: 50px 100%;
    right: auto;
    left: 0;

    &:before {
      background-color: $color-brown-dark;
      height: 25px;
    }

    .ruinsAccent {
      width: 25px;
      height: 25px;
      right: auto;
      left: 100%;
      background-image: radial-gradient(circle at top right, transparent 50%,  $color-brown-dark 50%);
    }
  }
}

.ruinsAccent {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(circle at top left, transparent 50%,  $color-brown-darker 50%);
  top: 0;
  right: 100%;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.copy {
  position: relative;
  text-align: center;
  color: $color-white;
  z-index: 1;
}

.frame {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100px;
    top: 0;
    background-image: linear-gradient(to left, $color-marble 25%, $color-marble-dark 25%, $color-marble-dark 75%, $color-marble 75%);
    background-size: 20%;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.left,
.right,
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.left {
  right: calc(100% + 100px);
}

.right {
  left: calc(100% + 100px);

  .gold {
    transform: scale(-1, 1);
  }

  .gold:last-of-type {
    bottom: -8%;
  }
}

.center {
  overflow: hidden;

  .gold:first-of-type {
    transform: scale(3,1);
    transform-origin: 0 0;
    bottom: -10%;
  }
}

.gold {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  svg {
    fill: $color-gold-dark;
  }

  &:nth-child(2) {
    svg {
      fill: $color-gold;
    }
  }
}