@import '@/styles/variables';

.card {
  position: relative;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 4px $color-white;
  text-decoration: none;

  @media (width >= 768px) {
    width: calc(33.3333% - .6666em);
  }
}

.heading {
  svg {
    width: 200px;
    max-height: 50px;
  }
}

.content {
  margin: .5em 0;
}
