@import '@/styles/variables';

.card {
  position: relative;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-stone;
  border-radius: 15px;
  border: 4px solid $color-stone-dark;
  color: $color-white;
  text-decoration: none;

  @media (min-width: 768px) {
    width: calc(50% - 1em);
  }
}

.copy {
  position: relative;
  z-index: 1;
}