@use '@/styles/variables' as *;

.heading {
	display: flex;
}

.detailsLink {
	font-size: inherit;
}

.year {
	margin-top: 1em;
}

.tags {
	padding: 0;
	margin: 0.5em 0 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
}

.excerpt {
	margin-top: 1em;
}

.link {
	margin-top: 1em;
}
