@import '@/styles/variables';

.section {
  max-width: 1200px;
  padding: 2em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2em;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.sectionAlt {
  @media (width >= 768px) {
    flex-direction: row-reverse;
  }
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (width >= 768px) {
    width: calc(50% - 1em);
  }
}


.children {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  li {
    text-align: center;
    display: flex;

    a {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5em;
    
      svg {
        width: 2.5em;
        margin: 0;
      }
    
      @media (width >= 768px) {
        flex-direction: row;
      }
    }
  }
 
  p {
    margin: 1em 0;
  }
}

.content {
  margin: .5em 0 1em;
}

.image {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  
  @media (width >= 768px) {
    width: calc(50% - 1em);
  }
}

.externalLink {
  margin-top: 1em;
}